/*colors:
pink: #e76e71 / 231, 110, 113
blonde: #c7aa38 / 199, 170, 56
lightblue: #6da7e0 / 109, 167, 224
darkblue: #366fb3 / 54, 111, 179
red: #e33127 / 227, 49, 39
white
black*/

/* reset */
body, figure, ul, p, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* style */

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

center {
  max-width: 1400px;
  min-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

right {
  width: 80%;
  padding: 20px;
  padding-left: 40px;
  box-sizing: border-box;
  text-align: left;
}

h1 {
  font-family: 'Oleo Script', cursive, sans-serif;
  margin: 0 auto;
  padding: 50px 0;
  font-size: 50px;
}

h2 {
  font-weight: 700;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 30px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  margin: .5em 0;
}

h4 {
  font-weight: 300;
  margin: .5em 0;
}

p {
  padding: 3px 0;
}

img {
  max-width: 200px;
}

/*background colors*/
.intro {
  background-color: #f3b7b8;
}
.projects {
  position: relative;
  background-color: #b6d3f0;
  padding-top: 80px;
  border-bottom: 8px solid #366fb3;
}
.projects:nth-child(0n+3) {
  background-color: #eee6c4;
  border-bottom: 8px solid #c7aa38;
}

.projects:after {
  position: absolute;
  /*bottom: -200px;*/
  bottom: -216px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  /*background: linear-gradient(225deg, #b6d3f0 60%, #366fb3 200%);*/
  background: #b6d3f0;
  border-bottom: 24px solid #366fb3;
  border-left: 24px solid #366fb3;
  content: '';
  z-index: 2;
  transform: rotateX(75deg) rotateZ(-45deg) ;
  /*transform: scale(2, .5);*/
  /*transform: skewX(45deg);*/
}
.projects:nth-child(0n+3):after {
  /*background: linear-gradient(225deg, #eee6c4 60%, #c7aa38 200%);*/
  background: #eee6c4;
  border-bottom: 24px solid #c7aa38;
  border-left: 24px solid #c7aa38;
}
.projects:nth-last-of-type(0n+2):after {
  content: none;
}

.links center {
  width: initial;
  min-width: initial;
}
.links center a {
  padding: 0 5px;
}
