/* reset */
body, figure, ul, p, h1, h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* style */

body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.noscroll {
  overflow-y: hidden;
}

h1 {
  font-family: 'Antic Slab', sans-serif;
  font-size: 72px;
}

.buffalo {
  width: 100px;
  height: auto;
  border: 5px solid;
  padding: 35px 15px;
  border-radius: 100px;
  cursor: pointer;
}

.buffalo:hover {
  animation: fill .5s linear infinite;
}

/***** css for arrows - potentially have arrows pointing at buffalo
<div class="generatecssdotcom_arrow">CLICK HERE</div><div class="generatecssdotcom_arrowpoint">Powered by: <a href="http://www.generatecss.com/">CSS Generator</a></div>
.generatecssdotcom_arrowpoint {position:absolute;top:0;right:0;font-size:8px;color:#cccccc;}
.generatecssdotcom_arrowpoint a {color:#cccccc;text-decoration:none;font-weight:normal;}
.generatecssdotcom_arrowpoint a:hover {color:#cccccc;text-decoration:none;font-weight:normal;}
.generatecssdotcom_arrow {text-align:left;font-size:24px;font-family:Helvetica;color:#000000;font-weight:bold;width:150px;height:30px;position:relative;background:#E46B00;border:0px solid #FFCC00;margin:0px 50px 0px 0px;padding:10px;}
.generatecssdotcom_arrow:after, .generatecssdotcom_arrow:before {left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.generatecssdotcom_arrow:after {border-left-color:#E46B00;border-width:50px;margin-top:-50px;}
.generatecssdotcom_arrow:before {border-left-color:#FFCC00;border-width:50px;margin-top:-50px;}
*/

section {
  height: 100%;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro {
  background-image: radial-gradient(
    circle,
    rgba(255, 100, 100, 0.2),
    rgba(240, 109, 6, .3)
  );
  /*background-size: contain;
  background-position-y: center;*/
}

.projects {
  background-color: rgba(136, 82, 255, 0.4);
}

article {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  min-width: 200px;
  border: 3px solid aliceblue;
  max-width: 300px;
  width: 30%;
  box-sizing: border-box;
}

header {
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 3px solid aliceblue;
}

logo {
  height: 40px;
  font-family: 'Antic Slab';
  display: flex;
  align-items: center;
}
logo img {
  width: auto;
  max-width: 100%;
  height: 32px;
}

tagline {
}

footer {
  padding: 10px;
  border-top: 3px solid aliceblue;
}

ul {
  text-transform: capitalize;
}

li {
  margin: 20px 0;
}

container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

container.about {
  box-sizing: border-box;
  padding: 0 15px;
}

.img {
  background-image: radial-gradient(
      circle,
      rgba(255, 100, 100, 0.1),
      #f06d06
    )
    , url('../gage-foreground.png')
    /*, url('../gage.jpg')*/
    ;
  /*background-size: 100% auto;
  background-position-y: center;*/

  background-size: auto, auto 88%;
  background-position-y: bottom;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}
.img:hover {
  background-image: radial-gradient(
      circle,
      rgba(255, 100, 100, 0.1),
      #f06d06
    )
    , url('../gage-foreground.png')
    , url('../gage-midground.svg')
    /*, url('../gage.jpg')*/
    ;
  /*background-size: 100% auto;
  background-position-y: center;*/

  background-size: auto 100%, auto 88%;
  background-position-y: bottom;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

/* animations */

/*@keyframes fill { // rotate
  0%        {fill: #000; transform: rotate(0deg);}
  25%       {fill: #af0000}
  50%       {fill: #000}
  75%       {fill: #af0000}
  100%      {fill: #000; transform: rotate(-360deg);}
}*/

@keyframes fill {
  0%        {fill: #000; transform: rotate(0deg);}
  20%        {transform: rotate(5deg);}
  40%        {transform: rotate(0deg);}
  50%       {fill: #7c0000}
  60%        {transform: rotate(-5deg);}
  100%      {fill: #000; transform: rotate(0deg);}
}
