html, body {
  margin: 0;
}
header, section {
  display: flex;
  justify-content: center;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
}
nav, h1, h2 {
  font-family: 'Kranky', cursive;
}
section {
  border-top: 10px solid green;
  background-color: #bff9bf;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #a519a5;
  font-size: 20px;
}
imggroup {
  margin: 20px;
}
img {
  max-width: 250px;
}
